node {
    text-visibility-mode : hidden;
    text-alignment : above;
    text-padding : 5;
    size-mode : fit;
}

node.leaf {
    visibility-mode : hidden;
}

node:selected {
    fill-color : red;
    text-visibility-mode : normal;
}

edge.leaf {
    visibility-mode : hidden;
}