doctype html
html(lang="en")
  head
    title= title
    script(src="/js/zepto.min.js", type="text/javascript")
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/skeleton.css")
    style(type="text/css").
      body {
        padding : 1em;
      }
  body
    h1 Code Completion
    h2 Consent Form for Participation in Research
    #container.row
      h4 Summary
      p.
        Writing computer programs is difficult and time-consuming. In
        order to reduce the time of writing programs, we have
        developed a system that can generate computer programs. This
        system takes an incomplete program with specification written
        in a programming language called Java, generates the missing
        pieces and produces a complete program. The system has already
        been implemented and therefore our purpose is to evaluate
        whether the system is actually beneficial to normal computer
        programmers by letting them write programs with the help of
        our system.

      h4 Tasks
      p In this study, you will be asked to do the following things:
        h5 1.Consent
        p.
            You will be presented an online consent form
            in which the objective, process, requirements and contact
            information are provided. You are asked to read this content
            and instructions, provide an email address and click the "I
            agree" button in the web form, if you agree to participate. If
            you do not agree to participate, you are asked to close the
            web page or click the "I do not agree" button in order to exit
            the study.

        h5 2.Writing typical Java programs
        p.
          For those who agree to participate and click "I agree"
          button, you will be presented a web-based programming
          environment where you can write and run Java programs. In
          this environment, you will also be presented a simple
          incomplete Java program skeleton and a description of the
          target complete program and validation tests they need to
          write. You will be finishing the programming task in the editor on the
          left. After you finish coding, you can press "run" to run
          the program and the output will be showed at the bottom of the
          webpage.
        
        p.
          You are allowed to finish the skeleton with the help of
          internet search. The purpose of completing this simple
          program skeleton is to let you be familiarized with the
          programing environment and let you be comfortable in
          writing Java programs under the provided environment. After
          you finish completing the first program skeleton, you are
          asked to complete two more Java program skeleton under the
          same programming environment. For each program skeleton, the
          webpage will automatically record the amount of time you
          use to complete the program and necessary tests.

        h5 3. Writing typical Java programs with the help of our system

        p.
          In this step, you are asked to complete a simple Java
          program skeleton with the help of our system. We will first
          ask you to finish a simple Java program in order to let
          them learn how to use our system.

        p.
          In the task description, we will provide an additional
          instruction on how to use the system. Specifically, when you
          need to use our system during the the tasks, you need to
          write a special symbol, "??", in the
          programming environment. Above this special symbol, you
          will need to provide a simple English description of the program
          you would like our system to generate and a set of
          input/output tests. This process is no different than
          writing normal Java programs. After you have finished
          writing the English description and the input/output tests,
          you can click the "complete" button below the text
          editors and after a few seconds the generated program will be
          shown on the right text box. You can copy the
          generated program back to the editor on the left and
          continue to finish the programming task.

        p.
          After you have finished the first Java program with the
          help of our system, you are asked to finish two more Java
          programming tasks also with the help of our system in the
          same environment. The webpage will automatically record the
          amount of time you use for each programming task. In
          addition, we will ask them through a web form how many times
          they have used our system to generate programs and how many
          times they think the generated programs are useful in
          helping them finish the programming task.

      h4 Requirement
      p
        | We require each participant to have knowledge of simple
        | algebra and to be able to read and understand simple Python
        | programs in which the following constructs are used:
        ul
          li function
          li assignment
          li loop (for, while statement)
          li condition (if-then-else statement)
          li array, list, tuple, string, set and map manipulations
          li operating system and networking

      h4 Benefits
      p.
        After each participant finishes all the tasks listed above, he
        or she will be presented a $20 Amazon.com gift card. Each
        participant will be free to cash the gift card using his or her
        Amazon account. In order to ensure a successful delivery of the
        gift card, please leave an email address linked to your Amazon
        account. We will be contacting you and sending out gift cards
        via email.


      h4 Confidentiality
      p
        | All data and information collected will be held in
        | strict confidence and all results will be published in
        | an aggregate form. Your responses will be kept
        | anonymous and will not be linked to you. Since your
        | participation will consists solely of repairing
        | programs and reviewing fixes and filling out web
        | forms, we do not anticipate any risk or discomfort
        | that are greater than those ordinarily encountered in
        | daily life or during survey or exams. If you have any
        | questions concerning this research or your rights as a
        | research participant, please contact:
        ul
          li Yanxin Lu, Ph.D. student in Computer Science, yanxin.lu@rice.edu
          li Swarat Chaudhuri, Associate Professor in Computer Science, swarat@rice.edu
          li Joe Warren, Professor in Computer Science, jwarren@rice.edu
          li William Turner, Assistant Vice Provost for Research at Rice University, william.turner@rice.edu or 713-348-6071

      h4 Voluntary
      p.
        Your participation in this study is completely voluntary. If
        you do not wish to participate in this study, exit this webpage
        or click 'I do not agree' button to exit the page.  If you do
        wish to participate in the study, please enter your email you
        used for Amazon account and click 'I agree' button to start the
        study. We will contact you before the study takes place. Notice
        that in order to receive a $20 Amazon gift card, one needs to
        finish all the tasks listed above.

      #email-container
        label(for=email-input) Your email:
        input#email-input(placeholder="test@mailbox.com")
      #btn-container
        button#agree-btn I Agree
        button#agree-btn I do not agree
      
