doctype html
html(lang="en")
  head
    title= title
    //- script(src="https://cdn.jsdelivr.net/cash/1.3.0/cash.min.js", type="text/javascript")
    script(src="/js/zepto.min.js", type="text/javascript")
    script(src="/js/ace-builds/src-min-noconflict/ace.js",
           type="text/javascript",
           charset="utf-8")
    script(src="/js/splicing.js",
           type="text/javascript",
           charset="utf-8")
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/skeleton.css")
    link(rel="stylesheet" href="/css/splicing.css")
  body
    h1 Code Completion
    #container.row
      div(id=editor-container, class="six columns")
        #editor
      div(id=output-editor-container, class="six columns")
        #output-editor
    #btn-container.row
      div#status-container(class="eight columns")
        pre
          code#status Status will show here.
      div#option-container(class="u-pull-right")
        select#example-select(onchange= 'load_example(this.value);')
          each val in examples
            case val
              when '---'
                option(value=val, selected)= val
              default
                option(value=val)= val
        button#run-btn(onclick= 'run();') Run
        button#complete-btn(onclick= 'complete();') Complete
    #console-stdout-container.row
      h5 Console Stdout
      pre
        code#console-stdout stdout will show up here.
    #console-stderr-container.row
      h5 Console Stderr
      pre
        code#console-stderr stderr will show up here.