doctype html
html(lang="en")
  head
    title= title
    //- script(src="https://cdn.jsdelivr.net/cash/1.3.0/cash.min.js", type="text/javascript")
    script(src="/js/zepto.min.js", type="text/javascript")
    script(src="/js/ace-builds/src-min-noconflict/ace.js",
           type="text/javascript",
           charset="utf-8")
    script(src="/js/splicing.js",
           type="text/javascript",
           charset="utf-8")
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/skeleton.css")
    link(rel="stylesheet" href="/css/splicing.css")
    - var name= task_name
    script(type="text/javascript") $(document).ready(function() {load_example("#{name}");});
    script(type="text/javascript").
        var totalSeconds = 0;
        setInterval(setTime, 1000);

        function setTime() {
            ++totalSeconds;
            $('#timer').html(pad(parseInt(totalSeconds/60)) + ':' + pad(totalSeconds%60));
        }

        function pad(val) {
            var valString = val + "";
            if(valString.length < 2) {
                return "0" + valString;
            } else {
                return valString;
            }
        }
  body
    h1 Code Completion
    #container.row
      div(id=editor-container, class="six columns")
        #editor
      div(id=output-editor-container, class="six columns")
        #output-editor
    #btn-container.row
      div#status-container(class="five columns")
        pre
          code#status Status will show here.
      div#total-help-container(class="two columns")
        label#total-help(for="total-help-input") Total help asked count:
        select#total-help-select
          each val in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
            option(value=val)= val
      div#useful-help-container(class="two columns")
        label#useful-help(for="useful-help-input") Useful help count:
        select#useful-help-select
          each val in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
            option(value=val)= val
      div#btn-container(class="u-pull-right")
        button#run-btn(onclick= 'run();') Run
        button#complete-btn(onclick= 'complete();') Complete
    #console-stdout-container.row
      h5 Console Stdout
      pre
        code#console-stdout stdout will show up here.
    #console-stderr-container.row
      h5 Console Stderr
      pre
        code#console-stderr stderr will show up here.