<!doctype html>
<html>
  <head>
    <script src="/js/zepto.min.js"></script>
    <link href="/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/css/skeleton.css" rel="stylesheet" type="text/css">
    <link href="/css/splicing.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <h1>API Refactoring DB</h1>

    {% if (has_db) %}
    <div id="db-container" class="row">
      <table class="u-full-width">
        <thead>
          <tr>
            <th>ID</th>
            <th>Session</th>
            <th>Task</th>
            <th>Duration</th>
            <th>Compiled</th>
            <th>Correct</th>
            <th>Timeout</th>
            <th>Tool</th>
            <th>Code</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in db_table %}
          <tr>
            <td>{{entry["id"]}}</td>
            <td>{{entry["session"]}}</td>
            <td>{{entry["task"]}}</td>
            <td>{{entry["duration"]}}</td>
            <td>{{entry["compiled"]}}</td>
            <td>{{entry["correct"]}}</td>
            <td>{{entry["timeout"]}}</td>
            <td>{{entry["use_tool"]}}</td>
            <td><textarea>{{entry["code"]}}</textarea></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </body>
</html>
