<!doctype html>
<html>
  <head>
    <title>Bayou User Study</title>
    <script src="/js/zepto.min.js"></script>
    <script src="/js/ace/ace.js" charset="utf-8"></script>
    <script src="/js/easytimer.min.js"></script>
    <script src="/js/study.js" charset="utf-8"></script>
    <link href="/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/css/skeleton.css" rel="stylesheet" type="text/css">
    <link href="/css/splicing.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <h1>API Refactoring User Study</h1>
    <h2 id="timer-container">Time left: <div id="timer">00:00:00</div></h2>

    <div id="desc">
      For each method in the class on the left, read the comment of each method
      and complete the block that so that the new method does the same thing as the original code.
    </div>

    <div id="container" class="row">
      <div id="editor-container" class="six columns">
        <div id="editor"></div>
      </div>

      <div id="output-container" class="six columns">
        <div id="output-editor"></div>
      </div>
    </div>

    <div id="btn-container" class="row">
      <div id="submit-container" class="two columns">
        <p>Press 'Test' to run the program against test case</p>
      </div>

      <div id="test-container" class="two columns">
        <button id="test-btn" onclick="test(false);">Test</button>
      </div>

      {% if (use_tool) %}
      <div id="submit-container" class="two columns">
        <p>Press 'Query' to invoke our API refactoring tool</p>
      </div>

      <div id="submit-container" class="two columns">
        <button id="submit-btn" onclick="run();">Query</button>
      </div>
      {% endif %}


      <div id="debug-container" class="two columns">
        <input type="checkbox" id="debug-box" value="debug">
      </div>
    </div>

    <div id="test-container" class="row">
      <pre><code id="test">Test results will show here.</code></pre>
    </div>

    <div id="status-container" class="row">
      <pre><code id="status">Server status will show here.</code></pre>
    </div>

    <div id="draft" hidden>{{draft}}</div>
    <div id="task" hidden>{{task}}</div>
    <div id="session" hidden>{{session}}</div>
    <div id="use_tool" hidden>{{use_tool}}</div>
  </body>
</html>
